@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	background-color: rgba($color: white, $alpha: 0.9);
	display: flex;
	justify-self: flex-start;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		li {
			margin-right: 24px;
			a {
				padding: 24px;
				font-size: 20px;
				font-weight: 700;
				transition: all ease-in-out 0.3s;
				&:hover {
					text-decoration: underline;
					text-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.5);
				}
			}
		}
	}
}

main {
	margin: 140px auto;
}

footer {
	width: 100%;
	height: 100px;
	background-color: #333;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
}

.card {
	width: 400px;
	max-width: 100%;
	margin-bottom: 24px;
	img {
		width: 100%;
		height: 200px;
	}
	button {
		margin-bottom: 24px;
	}
	.content {
		padding: 24px;
	}
}

form {
	width: 600px;
	max-width: 100%;
	border: 1px solid #333;
	border-radius: 8px;
	padding: 24px 32px;
	margin: 40px auto 0;
	box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.5);
	h1 {
		font-size: 20px;
		font-weight: 800;
	}
}
